<!DOCTYPE html>

<html>
	<head>
		<title>Drunkgraming: New Post</title>
		<!--<link type="text/css" rel="stylesheet" href="">-->
	</head>

	<form method="post">
		<label> 
			<div> Title </div> 
			<input style="{{titleclass}}" type="text" name="subject" value="{{title}}">
			<div> {{titleerror}} </div> 
		</label>

		<label> 
			<div> Post </div> 
			<textarea style="{{textclass}}" name="content">{{tent}}</textarea> 
			<div> {{texterror}} </div>
		</label>
		<br>
		<input type="submit" >
	</form>

</html>